.faq {
}

.faqInner {
  margin: 0 auto;
  padding: var(--section-pad);
}

.faqHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.faqTitle{
  display: block;
  padding: 0;
}

/* 아이템 */
.faqItem {
  margin-bottom: 20px;
  border: 1px solid var(--border-light);
  border-radius: 30px;
  overflow: hidden;
  padding: 25px 30px;
}

.faqQ {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: color var(--transition);
  font-family: var(--font-body);
}

.faqQ:hover {
  color: var(--green-accent);
}

.faqQmark {
  font-size: 20px;
  width: 16px;
}

.faqQtext {
  font-size: var(--fs-sub);
  color: var(--text-main);
  flex: 1;
}

.faqArrow {
}
.faqArrow:before {
  content: '\e313';
  font-size: var(--fs-h3);
}

.faqOpen {
  transform: rotate(180deg);
}

/* 답변 슬라이드 */
.faqAnswer {
  display: grid;
  grid-template-rows: 0fr;
  width: 80%;
  transition: grid-template-rows 0.38s cubic-bezier(0.4, 0, 0.2, 1);
}

.faqAnswerOpen {
  grid-template-rows: 1fr;
}

.faqAnswerInner {
  overflow: hidden;
}

.faqA {
  display: flex;
  padding: 30px 0 0;
  gap: 15px;
}

.faqAmark {
  font-size: 20px;
  width: 16px;
  color: var(--red);
}

.faqAtext {
  font-size: var(--fs-sub);
}
