.hd {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  background: var(--bg-color);
  padding: var(--padding-s) var(--padding-l);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hdGroup {
  display: flex;
  gap: 64px;
  align-items: center;
}

.hdLink {
  font-family: var(--font-body);
  font-size: var(--fz-sub);
  font-weight: var(--fw-bold);
  letter-spacing: 0.04em;
  color: var(--text-color);
  position: relative;
  padding-bottom: 1em;
}

.hdLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: var(--green-accent);
  transition: width var(--transition);
}

.hdLink:hover::after {
  width: 100%;
}

.hdLogo {
  font-family: var(--en-font);
  font-size: var(--fs-main);
  font-weight: var(--fw-bold);
  color: var(--point-color);
  letter-spacing: -1px;
}

.hdItem {
  position: relative;
}

.hdDropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  padding-top: 0.5em;
  overflow: hidden;     
  max-height: 0;
  transition: max-height 0.35s ease;
  transform: translateX(-50%);
  width: max-content;
}

.hdDropdownOpen {
  max-height: 30rem;
}

.hdDropdownInner {
  display: flex;
  flex-direction: column;
  padding: 1em 0.8em;
  background-color: #2f4f3e;
  transform: translateY(-8px);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.3s ease;
  border-radius: 10px;
}

.hdDropdownOpen .hdDropdownInner {
  transform: translateY(0);
  opacity: 1;
}

.hdSubLink {
  padding: 0.4em;
  color: #fff;
  font-size: 1em;
  white-space: nowrap;
  opacity: 0.7;
}

.hdSubLink:hover {
  opacity: 1;
}