.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  background: var(--bg-color);
  padding: var(--padding-m) var(--padding-l);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__group {
  display: flex;
  gap: 36px;
  align-items: center;
}

.navbar__link {
  font-family: var(--font-body);
  font-size: var(--fz-sub);
  font-weight: var(--fw-bold);
  letter-spacing: 0.04em;
  color: var(--green-dark );
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}

.navbar__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: var(--green-accent);
  transition: width var(--transition);
}

.navbar__link:hover::after {
  width: 100%;
}

.navbar__logo {
  font-family: var(--fontn-display);
  font-size: var(--fs-main);
  font-weight: var(--fw-bold);
  color: var(--green-dark);
  letter-spacing: -1px;
}
