.notice {}

.noticeInner {
  margin: 0 auto;
  padding: var(--section-pad);
}

.noticeHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3em;
}
.titleBtn{
  display: flex;
  gap: 1em;
  align-items: flex-end;
}

.noticeTitle{
  padding-bottom: 0;
  line-height: inherit;
}

.noticeTabs {
  display: flex;
  gap: 8px;
}

.noticeTab {
  padding: 6px 20px;
  border-radius: 20px;
  font-size: var(--fs-sub);
  border: 1px solid var(--border);
  background: transparent;
}

.noticeTab:hover {
  border-color: var(--text-font);
}

.noticeTab.active {
  background: var(--green-light);
  color: #fff;
  border: 0;
}

.noticeList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.noticeItem {
  padding: 40px 20px 40px 0;
  border-top: 1px solid var(--border-light);
  cursor: pointer;
}

.noticeItem:first-child, .noticeItem:nth-child(2) {
  border-top: 1px solid var(--text-color); 
}

.noticeItem:last-child, .noticeItem:nth-last-child(2) {
  border-bottom: 1px solid var(--text-color); 
}
.noticeItem:nth-child(2n){
padding-left: 20px;
}

.noticeContent {
  display: flex;
  flex-direction: column;
  width: fit-content;
   padding-bottom: 20px;
}

.noticeTag {
  display: block;
  width: inherit;
  font-size: var(--fs-etc);
  padding: 5px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.noticeTag공지, .noticeTab공지.active {
  background: var(--red);
}

.noticeTag교육, .noticeTab교육.active {
  background: var(--blue);
}

.noticeTag채용, .noticeTab채용.active {
  background: var(--yellow);
}

.noticeItemTitle {
  font-size: var(--fs-main);
  line-height: 1.7;
  color: var(--text-main);
  margin-bottom: 8px;
}

.noticeItemDate {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--fs-etc);
  font-weight: var(--fw-light);
}
.noticeItemDate:before {
  content: '\ebcc';
  font-size: 19px;
}

.noticeEmpty {
  grid-column: span 2;
  padding: 48px 0;
  text-align: center;
  color: var(--text-hint);
  font-size: 14px;
}